@font-face {
    font-family: "HelveticaRegular";
    src: url(../fonts/HelveticaRegular/HelveticaRegular.woff);
    font-weight: normal;
}

body {
    background-color: #F6F7FA;
    margin-top: 60px;
    font-family: HelveticaRegular;
}

figure {
    display: flex;
    align-items: center;
}


p {
    color: #000;
    font-size: 12px;
    margin: 3px;
}

span {
    font-family: HelveticaRegular;
    font-size: 10px;
    margin: 3px;
}

ul {
    list-style-type: none;
}

input,
button,
textarea {
    outline: none;
    background: transparent;
    border: none;
    cursor: pointer;
}

a,
a:hover,
a:focus,
a:visited {
    text-decoration: none;
}

h4,
h6 {
    text-align: left;
    padding-left: 20px;
    font-family: HelveticaRegular;
}


.row {
    text-align: center;
}

.navbar-right {
    margin-right: 60px;
}

.navbar {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #1B2048 !important;
    border-color: transparent;
}

.navbar-fixed-top {
    border: 0px;
}

.navbar-brand {
    margin-top: -5px;
    margin-left: 20px;
    margin-right: 45px;
}

.navbar-inverse .navbar-nav>li>a {
    color: #fff;
    font-family: HelveticaRegular;
    font-size: 12px;
}

.form-control {
    border-radius: 50px;
    background-color: transparent;
    border-color: #8191B2;
    margin: 0px 10px 0px 10px;
    box-shadow: unset;
    color: #8191B2;
    width: 146px !important;
    padding-left: 35px;
}


.form-control:focus {
    border-color: #8191B2;
    margin: 0px 10px 0px 10px;
    box-shadow: unset;
}

.search-icon {
    position: absolute;
    margin-top: 10px;
    margin-left: 25px;
}

.avatar {
    height: 34px;
    width: 34px;
    border-radius: 50px;
    margin: 0px 10px 0px 10px;
}

.arrow-dropdawn {

    margin-left: 10px;
    background: transparent;
    border: none;
    outline: none;
}

.bell {
    margin-right: 10px;
    vertical-align: middle;
    background: url('img/bell.png');
}

.bell-wrapper {
    display: inline-block;
}

.alert-dot {
    position: absolute;
    height: 6px;
    width: 6px;
    border-radius: 20px;
    background-color: red;
    top: 15px;
    margin-left: 25px;
}

.left-nav {
    position: fixed;
    left: 0;
    z-index: 1030;
    height: 100%;
    width: 113px;
    background-color: #fff;

    text-align: center;
}

.left-nav>ul>li>a {
    font-family: HelveticaRegular;
    font-size: 12px;
    width: 113px;
    color: #000;
    border-left-color: transparent;
    /* Цвет линии слева */
    border-left-style: solid;
    /* Стиль линии */
    border-left-width: 3px;
    /* Толщина линии */
}

.left-nav>li>a:focus,
.left-nav>ul>li>a:hover {
    text-decoration: none;
    background-color: #fff;
    border-left-color: #519CFA;
    /* Цвет линии слева */
    border-left-style: solid;
    /* Стиль линии */
    border-left-width: 3px;
    /* Толщина линии */
}

. .users-icon {
    padding-top: 10px !important;
    padding-right: 15px !important;
    padding-bottom: 10px;
    padding-left: 7px !important;
}


.profile-card {
    background-color: #fff;
    height: 236px;
    width: 236px;
    border-radius: 3px;
    text-align: center;
    padding-top: 20px;
    box-shadow: 0px 0px 8px #bdbdbd94;
}

.profile-card_avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.profile-card_info {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.profile_links {
    text-align: left;
    padding-top: 20px;
}

.profile_links>ul>li {
    margin-top: 5px;
    margin-bottom: 5px;
}

.profile_links>ul>li:first-child {
    margin-top: 0px;
}

.profile_links>ul>li>svg {
    margin-right: 20px;
}

.profile_links>ul>li>a {
    color: #3EA3FF;
    cursor: pointer;
}

.content-name {
    padding-right: 60px;
    padding-left: 60px;
    margin-top: 50px;
    margin-bottom: 15px;
}

.content-name>button {
    color: #3EA3FF;
    background: transparent;
    padding: 8px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 50px;
    border: 1px solid #3EA3FF;
    outline: none;
    right: 0;
    float: right;
    transition: ease all .1s;
}

.content-name>button>svg {
    margin-right: 14px;
}

.content-name>button:hover {
    color: #fff;
    background: linear-gradient(120deg, #529EFC, #4773E1);
    border: 1px solid transparent;
}

.content-name>button:hover #button-add-plus {
    fill: #fff;
}

.content-name label {
    font-size: 37px;
    font-family: HelveticaRegular;
}

.content-name label.user {
    color: #8191B2;
    font-size: 12px;
    border-bottom: 1px solid #8191B2;
    margin-top: auto;
    margin-left: 21%;
    font-family: HelveticaRegular;
    vertical-align: middle;
}

.input-wrapper {
    width: 456px;
    height: 51px;
    background: #fff;
    border-radius: 3px;
    vertical-align: middle;
    white-space: nowrap;
    box-shadow: 0px 0px 8px #bdbdbd94;
    margin-top: 6px;
    margin-bottom: 12px;
}

.input-wrapper:first-child {
    margin-top: 12px;
    margin-bottom: 12px;
}

.input-wrapper:last-child {
    margin-top: 12px;
    margin-bottom: 6px;
}

.input-wrapper span {
    line-height: 51px;
}

.input-wrapper img {
    margin-left: 15px;
    margin-right: 10px;
}

.input-wrapper span input {
    border: none;
    width: 80%;
    height: 30px;
    outline: none;
}

.post-body {
    padding: 10px;
    height: auto;
    text-align: left;
}

.post-body_info {
    display: inline-flex;
}

.post-body_info>div>span {
    width: auto;
    line-height: normal;
    margin-left: 10px;
}

.post-body_content {
    display: block;
    padding: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.post-body_content img {
    margin: 0px;
}

.post-body_content>p {
    overflow-wrap: break-word;
    margin-left: 0px;
    white-space: normal;
    margin-bottom: 45px;
}

.post-body_content>p:first-child {
    margin-bottom: 25px;
}

.post-body_photo {
    margin: 0px !important;
    margin-bottom: 10px !important;
}

.post-ava {
    width: 40px !important;
    height: 40px !important;
    margin: 0px !important;
}

.wrapper-tab {
    display: inline-flex;
    margin-bottom: 15px;
}

.wrapper-tab>div {
    width: 105px;
    height: 65px;
    border-radius: 3px;
    margin-left: 6px;
    margin-right: 6px;
    color: #fff;
    font-size: 10px;
    padding: 5px 10px 10px 5px;
    text-align: right;
}

.wrapper-tab>div>label {
    font-family: HelveticaRegular;
    font-size: 18px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.wrapper-tab>div>span {
    margin: 0px;
}

.wrapper-tab>div:first-child {
    margin-left: 0px;
    margin-right: 6px
}

.wrapper-tab>div:last-child {
    margin-right: 0px;
    margin-left: 6px;
}

.first-tab {
    background: linear-gradient(120deg, #C6F2F1, #7595FF);
    opacity: 0.6;
}

.first-tab span {
    padding-left: 20px;
}

.three-tab span {
    padding-left: 60px;
}

.four-tab span {
    padding-left: 10px;
}

.second-tab {
    background: linear-gradient(120deg, #C6C6F2, #C5E1EF);
    opacity: 0.6;
}

.second-tab svg {
    transform: rotate(180deg);
}

.three-tab svg {
    transform: rotate(180deg);
}

.three-tab {
    background: linear-gradient(120deg, #F76565, #FAD454);
    opacity: 0.6;
}

.four-tab {
    background: linear-gradient(120deg, #2FFDD7, #E0FC5A);
    opacity: 0.5;
}

.icon-user {
    margin-left: 15px;
    outline: none;
}

.post-body_comments {
    color: #8191B2;
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
}

.post-body_comments>span {
    line-height: 13px;
    margin-right: 20px;
}

.post-body_comments>svg {
    margin-right: 10px;
}

.wrapper {
    width: 238px;
    height: 97px;
    background: #fff;
    box-shadow: 0px 0px 8px #bdbdbd94;
    border-radius: 3px;
    padding: 20px 16px 15px 16px;
    border-left-color: #4A92EC;
    /* Цвет линии слева */
    border-left-style: solid;
    /* Стиль линии */
    border-left-width: 5px;
    /* Толщина линии */
    padding-left: 10px;
    /* Расстояние между линией и текстом */
    display: flex;
    align-items: center;
}


.wrapper>span {
    text-align: left;
    font-size: 12px;
}

.wrapper:first-child {
    margin-bottom: 12px;
}

.line {
    height: 100%;
    width: 1px;
    background-color: #EDEDED;
    margin-left: 15px;
    margin-right: 15px;
}

.circle {
    display: block;
    float: left;
}

.circle_info {
    position: absolute;
    text-align: center !important;
    margin-left: 13px;
    padding: 0;
    margin-top: -3px;
}

circle {
    fill: rgba(0, 0, 0, 0);
    stroke: #eee;
    stroke-width: 3;
    stroke-dasharray: 408px 408px;
}

circle:nth-child(2n) {
    fill: rgba(0, 0, 0, 0);
    stroke: #BA77FF;
    stroke-width: 3;
}

.row>div {
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
    margin-right: 10px;
}

.content-body-table {
    width: 1017px;
    margin-left: 7%;
    box-shadow: 0px 0px 8px #bdbdbd94;
    background-color: #fff;
    padding: 20px 10px 10px 10px;
    padding-left: 10px;
    border-radius: 3px;
    margin-bottom: 12px;
}

.first-content {
    padding: 12px;
}

.first-content div {
    display: flex !important;
    justify-content: space-between;
}

.first-content div div {
    display: flex;
    align-items: center;
}

.first-content div div input {
    margin-right: 27px;
    width: 215px;
    border-radius: 3px;
    border: 1px solid #E7E9EE;
    padding-top: 8px;
    padding-left: 10px;
    padding-bottom: 8px;
    padding-right: 25px;
    color: #000;
    font-family: HelveticaRegular;
}

.first-content div div a {
    margin-left: 37px;
    border-bottom: 1px solid #3EA3FF;
    color: #3EA3FF;
}

.first-content div div button {
    margin-right: 78px;
    width: 215px;
    height: 32px;
    background-color: #fff;
    z-index: 1001;
    border-radius: 3px;
    border: 1px solid #E7E9EE;
    text-align: left;
}

.first-content div div span {
    font-size: 12px;
    margin: 0px;
}

.dropdown-menu {
    margin: 0px;
    width: 215px;
    border: 1px solid #E7E9EE;
    top: 86%;
}

.dropdown-menu li a {
    border: none;
    padding-left: 10px;
    color: #000 !important;
    margin-left: 0px !important;
    border-bottom: none !important;
}

.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
    text-decoration: none;
    background-color: #EAEBEE;
}

.caret {
    background-image: url(assets/img/shape.png)
}

.dropdown-menu>li>span>input {
    border: none !important;
    width: 208px !important;
    font-size: 14px;
    padding: 3px 11px !important;
    padding-bottom: 0px !important;
    padding-top: 0px !important;
    padding-right: 30px !important;
    height: 20px !important;
}

.dropdown-menu>li> {
    margin: 0px;
    font-size: unset;
}

.search-icon-input:after {
    position: absolute;
    margin-top: 3px;
    top: 0;
    right: 0;
    content: "";
    width: 24px;
    height: 24px;
    background: transparent url(file:///Users/dmitrijvengerov/repos/project_army/assets/img/magnifying-glass.png);
    background-size: cover;
}

.dropdown-menu>li>span>input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: ;
}

.dropdown-menu>li>span>input::-moz-placeholder {
    /* Firefox 19+ */
    color: pink;
}

.dropdown-menu>li>span>input:-ms-input-placeholder {
    /* IE 10+ */
    color: pink;
}

.dropdown-menu>li>span>input:-moz-placeholder {
    /* Firefox 18- */
    color: pink;
}




.dropdown-menu>li:first-child {
    border-bottom: 1px solid #EFF0F3;
}

table {
    border-collapse: collapse;
    width: 100%;
    text-align: left;
}

table,
th,
td {
    border-bottom: 1px solid #C2C2C2;
    height: 40px;
    color: #3EA3FF;
    font-family: HelveticaRegular;
    size: 12px;
    vertical-align: middle;
}

th:first-child {
    width: 70px;
}

.tag-title {
    color: #000;
}

.table-content {
    line-height: 17px;
    font-size: 12px;
    color: #3EA3FF;
    margin-right: 20px;
}

.tags {
    width: 170px;
}

.tags>span {
    color: #000;
}

.name {
    width: 640PX;
}

.actually>span {
    padding-bottom: 2px;
    border-bottom: 1px solid #3EA3FF;
}

.control-buttons {
    float: right;
    display: inline;
}

.copy-button {
    height: 17px;
    width: 17px;
    border: none;
    outline: none;
    background-color: transparent;
    margin-right: 25px;
}

.trash-button {
    height: 13px;
    width: 17px;
    border: none;
    outline: none;
    background-color: transparent;
    margin-right: 25px;
}

.first-content div div button:after {
    position: absolute;
    margin-top: 6px;
    margin-left: 5px;
    /* margin-right: 25px; */
    content: "";
    width: 18px;
    height: 16px;
    background: transparent url(file:///Users/dmitrijvengerov/repos/project_army/assets/img/arrow.png);
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.open>.first-content div div button:after {

    transform: rotate(180deg);
}

.close-icon:after {
    position: absolute;
    margin-top: 10px;
    margin-left: -55px;
    /* margin-right: 25px; */
    content: "";
    width: 17px;
    height: 16px;
    background: transparent url(file:///Users/dmitrijvengerov/repos/project_army/assets/img/Shape.svg);
    background-size: cover;
    cursor: pointer;
}

.first-content div div .students-toggle:after {
    position: absolute;
    margin-top: 6px;
    margin-left: 100px;
    /* margin-right: 25px; */
    content: "";
    width: 18px;
    height: 16px;
    background: transparent url(file:///Users/dmitrijvengerov/repos/project_army/assets/img/arrow.png);
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.students-toggle {
    margin-right: 25px !important;
    height: 32px;
    border-radius: 3px;
    border: 1px solid #E7E9EE;
    color: #000;
    width: 90%;
    text-align: left;
}

.students-toggle:after {
    position: absolute;
    margin-top: 3px;
    margin-left: 94px;
    margin-right: 40px;
    content: "";
    width: 18px;
    height: 16px;
    background: transparent url(file:///Users/dmitrijvengerov/repos/project_army/assets/img/arrow.png);
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.toggle1:after {
    position: absolute;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 0px;
    content: "";
    width: 18px;
    height: 16px;
    background: transparent url(file:///Users/dmitrijvengerov/repos/project_army/assets/img/arrow.png);
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.toggle2:after {
    position: absolute;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 0px;
    right: 16px;
    content: "";
    width: 18px;
    height: 16px;
    background: transparent url(file:///Users/dmitrijvengerov/repos/project_army/assets/img/arrow.png);
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}




.students div div a {
    margin-right: 30px !important;
    margin-left: 0px !important;
    border: none;
}

.students div div .additional-fields {
    margin-right: 130px !important;
}

.table-content-title_avatar {
    width: 58px;
}

.table-content-title_name {
    width: 91px;
}

.table-content-title_mail {
    width: 160px;
}

.table-content-title_type {
    width: 97px;
}

.table-content-title_status {
    width: 93px;
}

.june-project {
    width: 75px;
}

.june-project-2 {
    width: 92px;
}

.project-wrap {
    width: 50px;
}

.black-title {
    color: #000 !important;
}

.input-control td {
    border: none;
    height: 60px;
}

.table-control_name {
    width: 80px;
    height: 32px;
    border-radius: 3px;
    border: 1px solid #E7E9EE;
}

.table-control_mail {
    width: 150px;
    height: 32px;
    border-radius: 3px;
    border: 1px solid #E7E9EE;
}

.crumbs {
    padding-bottom: 5px;
    margin-right: 60px;
    margin-left: 60px;
    margin-bottom: 20px;
    border-bottom: 1px solid #C2C2C2;
}

.crumbs>a {
    margin-right: 42px;
    color: #000;
}

.crumbs>a:hover {
    color: #3EA3FF;
    padding-bottom: 7px;
    border-bottom: 2px solid #3EA3FF;
}

.add-btn {
    color: #000 !important;
    border: none !important;
    margin-right: 30px;
}

.add-btn:after {
    position: absolute;
    margin-top: 6px;
    margin-left: 10px;
    content: "";
    width: 10px;
    height: 10px;
    background: transparent url(file:///Users/dmitrijvengerov/repos/project_army/assets/img/plus.png);
    background-size: cover;
}

.add-btn:hover {
    background: transparent !important;
}

.lists-free {
    width: 1020px;
    text-align: left !important;
    padding-bottom: 5px;
    margin-right: 60px !important;
    margin-left: 60px !important;
    margin-bottom: 20px;
}

.lists-free div {
    background: #fff;
    width: 539px;
    padding: 10px 20px 10px 40px;
    margin-top: 5px;
    border-radius: 3px;
    color: #000 !important;
    box-shadow: 0px 0px 8px #bdbdbd94;
    cursor: pointer;
}

.lists-free div a {
    color: #000;
}

.title-list:before {
    position: absolute;
    content: "";
    margin-top: 6px;
    margin-left: -30px;
    width: 17px;
    height: 17px;
    background: transparent url(file:///Users/dmitrijvengerov/repos/project_army/assets/img/arrow.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.btn-save {
    color: #3EA3FF;

    cursor: pointer;
    background: transparent;
    padding: 8px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 50px;
    border: 1px solid #3EA3FF;
    outline: none;
    right: 0;
    float: right;
    font-size: 12px;
    transition: ease all .1s;
}

.main-content {
    width: 708px;
    margin-right: 12px;
    text-align: left;
    display: inline-block;
}

.right-panel {
    margin-top: 30px;
    width: 299px;
}

.gear {

    margin-right: 20px;
}

.main-content_grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.main-content_grid .lesson-card {
    width: 167px;
    height: 129px;
    background-color: #fff;
    margin: 5px;
    border-radius: 3px;
    box-shadow: 0px 0px 8px #bdbdbd94;
    text-align: left;
}

.lesson-card div {
    width: 100%;
    height: 65px;
    background: linear-gradient(120deg, #AF99EA, #99EAFA);
}

.lesson-card p {
    margin-left: 10px;
    padding: 0px;
}

.main-content_grid div div {}

.main-content_title {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.temp-img {
    display: inline-flex;

    padding: 20px;
    height: 149px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 25px;
    background: linear-gradient(40deg, #72D6BD, #A8EA81);
    border-radius: 3px;
    box-shadow: 0px 0px 8px #bdbdbd94;
}

.temp-img_icon {
    width: 64px;
    margin-bottom: 30px;
    /* margin-left: -180px; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.temp-img h4 {
    margin-bottom: 0px;
    color: #fff;
}

.temp-img h6 {
    margin-top: 5px;
    color: #fff;
}

.btn-download {
    border: 1px solid #fff !important;
    color: #fff;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 80px;
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: 13px;
}

.event-shed div {
    margin-left: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    text-align: left;
}

.event-shed div:hover {
    background-color: #e6e7e8;
    border-radius: 3px;
}

.event-shed {
    margin-bottom: 10px
}

.event-shed div:after {
    position: absolute;
    margin-top: -15px;
    margin-left: 20px;
    /* margin-right: 25px; */
    content: "";
    width: 18px;
    height: 16px;
    transform: rotate(-90deg);
    background: transparent url(file:///Users/dmitrijvengerov/repos/project_army/assets/img/arrow.png);
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.event-shed_link {
    text-align: center;
    margin-top: 10px;
    margin-left: -130px;
    color: #8191B2;
    font-size: 12px;
    border-bottom: 1px solid #8191B2;
}

.temp-img_icon svg {
    position: absolute;
}

.tree-elements {
    margin-right: 20px;
    margin-left: 20px;
    padding-bottom: 4px
}

.tree-elements a {
    margin-left: 5px;
    margin-right: 5px;
}

.plus-button {
    position: fixed;
    cursor: pointer;
    width: 33px;
    height: 33px;
    bottom: 0;
    right: 0;
    background-color: red;
    border-radius: 50px;
    margin-right: 40px;
    margin-bottom: 40px;
    background: linear-gradient(140deg, #53A0FD, #3023AE);
    box-shadow: 5px 5px 8px #bdbdbdba;
}

.plus-button:after {
    position: absolute;
    margin-top: 8px;
    margin-left: 8px;
    content: "";
    width: 18px;
    height: 16px;
    transform: rotate(-90deg);
    background: transparent url(file:///Users/dmitrijvengerov/repos/project_army/assets/img/plus-whitw.png);
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.response-type_1 {
    width: 130px !important;
}

.first-content div div .response-type_1:after {
    margin-left: 25px;
}

.all-students {
    width: 136px !important;
}

.first-content div div .all-students:after {
    margin-left: 23px;
}

.attension {
    width: 196px !important
}

.first-content div div .attension:after {
    margin-left: 20px;
}

.data-toggle {
    width: 87px !important;
}

.first-content div div .data-toggle:after {
    margin-left: 20px;
}

.content-body_content {
    display: block !important;
    text-align: left;
    width: 1017px;
    margin-left: 85px !important;
}

.teacher-toggle {
    margin-left: 20px;
}

.content-body_content__content {}

.trenning-list {
    width: 188px;
    display: inline-block;
    margin-right: 55px
}

.trenning-list a div {
    width: 100%;
    min-height: 30px;
    height: auto;
    color: #000;
    padding: 10px 15px;
    font-size: 12px;
}

.trenning-list a div:hover {
    background-color: #F3F4F5;
}

.task-list-content {
    display: inline-block;
    overflow: hidden;
    width: 707px;
    vertical-align: top;
}

.task-list-content .content-body-table {
    width: 100%;
    margin: 0;
    margin-bottom: 5px;
}

.content-user-info {
    vertical-align: top;
}

.task-list-content_block div {
    display: flex;
    margin-bottom: 5px;
}

.content-user-info .avatar {
    margin-right: 25px;
}

.task-list-content_block {}

.tast-awaits-check {
    background-color: #E3F1FF;
    padding: 2px 10px;
    height: 22px;
    width: 176px;
    text-align: center;
    border-radius: 50px;
    font-size: 12px;
}

.project-stage {
    padding-bottom: 1px;
    border-bottom: 1px solid #000;
    margin-right: 30px;
    margin-top: 5px;
    vertical-align: top;
}

.lesson-num {
    color: #3EA3FF;
    margin-right: 50px;
    vertical-align: top;
}

.lesson-data {
    margin-right: 120px;
    vertical-align: top;
}

.tasks {
    padding: 35px 12px;
}

.tasks h5 {
    margin-left: 20px;
}

.task-check {
    margin-left: 10px;
    font-size: 12px;
}

.task-check a {
    border-bottom: 1px solid #3EA3FF;
    padding-bottom: 1px;
    color: #3EA3FF;
}

.tasks p {
    margin: 20px;
    margin-left: 20px;
    font-size: 12px !important;
}

.tasks div {
    border: 1px solid #E7E9EE;
    width: 500px;
    padding: 10px 20px;
    font-size: 12px;
}

.tasks img {
    margin-left: 25px;
    width: 474px;
}

.tasks video {
    margin-left: 25px;
}

.input--comments {
    padding: 5px 25px;
    padding-right: 5PX;
    align-items: center;
    display: flex;
    margin-bottom: 0px !important;
}

.input--comments input {
    width: 85%;
    font-size: 12px;
}

.input--comments .gear {
    background-color: red;
}

.btn-cnl {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    color: #3EA3FF;
    cursor: pointer;
    background: transparent;
    padding: 5px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 50px;
    border: 1px solid #3EA3FF;
    outline: none;
    right: 0;
    float: right;
    font-size: 12px;
    transition: ease all .1s;
}

.btn-app {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #FFF;
    background: linear-gradient(45deg, #529EFC, #4773E1);
    padding: 5px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 50px;
    outline: none;
    right: 0;
    float: right;
    font-size: 12px;
    transition: ease all .1s;
}

.photo-camera {
    width: 22px;
    height: 18px;
    background: url(file:///Users/dmitrijvengerov/repos/project_army/assets/img/camera.svg) no-repeat;
    margin-right: 12px;
    margin-right: 12px;
    margin-left: 35px;
}

.smile-face {
    width: 22px;
    height: 20px;
    background: url(file:///Users/dmitrijvengerov/repos/project_army/assets/img/smile.svg) no-repeat;
}










/* TEST */

.filler-checkbox:disabled+.filler-label {
    opacity: 0.4;
}

.filler-checkbox:focus+.filler-label {
    -webkit-box-shadow: 0 0 5px 3px #29b0d9;
    box-shadow: 0 0 5px 3px #29b0d9;
}

.filler-checkbox:checked+.filler-label>.filler-checked::before,
.filler-checkbox:checked+.filler-label>.filler-checked::after {
    display: block;
}

.filler-label span {
    font-size: 12px;
}

.filler-label {
    margin-bottom: 10px;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 12px;
    align-items: center;
}

.filler-label a {
    border-bottom: 1px solid #3EA3FF;
    padding-bottom: 1px;
    color: #3EA3FF;
}

.filler-checked {
    transition: .1s;
    position: relative;
    display: block;
    cursor: pointer;
    width: 14px;
    height: 14px;
    margin-right: 10px;
    font-size: 0;
    line-height: 0;
    border-radius: 3px;
    border: 1px solid #000;
}

.filler-checkbox:checked+.filler-label>.filler-checked {
    border: 1px solid transparent;
    background-color: #3EA3FF;
}

.couch {
    margin: 0px;
    margin-right: 20px;
}

.filler-checked::before,
.filler-checked::after {
    content: "";
    position: absolute;
    display: none;
    font-size: 0;
    line-height: 0;
}

.filler-checked::before {
    right: 1px;
    top: 6px;
    width: 8px;
    height: 2px;
    border-radius: 0px;
    background: #fff;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.filler-checked::after {
    top: 7px;
    right: 6px;
    width: 5px;
    height: 2px;
    border-radius: 0px;
    background: #fff;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}



.filler-checkbox:checked+.filler-label>.create-form::before,
.filler-checkbox:checked+.filler-label>.create-form::after {
    display: block;
}

.create-form {
    transition: .1s;
    position: relative;
    display: block;
    cursor: pointer;
    width: 14px;
    height: 14px;
    margin-right: 10px;
    font-size: 0;
    line-height: 0;
    border-radius: 3px;
    border: 1px solid #000;
}

.filler-checkbox:checked+.filler-label>.create-form {
    border: 1px solid transparent;
    background-color: #3EA3FF;
}


.create-form::before,
.create-form::after {
    content: "";
    position: absolute;
    display: none;
    font-size: 0;
    line-height: 0;
}

.create-form::before {
    right: 1px;
    top: 1px;
    width: 10px;
    height: 10px;
    border-radius: 2px;
    background: #fff;
}

.create-form::after {
    top: 3px;
    right: 3px;
    width: 6px;
    height: 6px;
    border-radius: 2px;
    background: #3EA3FF;
}

.filler-checkbox:focus+.filler-label {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.visually-hidden {
    position: absolute;
    overflow: hidden;
    width: 0px;
    height: 0px;
    margin: -1px;
    padding: 0;
    white-space: nowrap;
    border: 0;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
}

.line-flex {
    display: flex;
}

.line-flex div {
    display: flex;
    text-align: left;
    width: 707px;
    height: 97px;
    border-radius: 3px;
    background-color: #fff;
    margin-bottom: 10px;
}

.line-flex div img {
    width: 155px;
    height: 100%;
    border: none;
    margin-right: 15px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    background: linear-gradient(45deg, #529EFC, #4773E1);
}

.stages {
    padding-bottom: 3px;
    text-align: left;
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
}

.stages a {
    font-size: 12px;
    margin-right: 44px;
}

.stages a:last-child {
    margin-right: 0px;
}

.content-user-info_name {
    display: block !important;
}

.info-block {
    display: block !important;
}

.info-block h4 {
    margin-top: 15px;
    margin-bottom: 5px;
}

.info-block button {
    margin-top: -30px;
    margin-right: 25px;
    cursor: pointer;
}

.info-block span {
    color: #3EA3FF;
}

.right-panel_header {
    margin-top: 20px;
}

.right-panel_header button {
    margin-top: 0px;
    margin-bottom: 37px;
    display: inline-block;
}

.btn-arr {
    padding: 5px;
    padding-left: 25px;
    padding-right: 25px;
    cursor: pointer;
    font-size: 12px;
}

.bread-point {
    position: absolute;
    margin-top: 15px;
}

.bread-point span {
    font-size: 12px;
    margin-right: 20px;
}

.bread-point span:first-child:after {
    position: absolute;
    margin-top: 6px;
    margin-left: 10px;
    content: "";
    width: 9px;
    height: 6px;
    background: transparent url(file:///Users/dmitrijvengerov/repos/project_army/assets/img/bread-point.svg);
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.btn-arr:after {
    position: absolute;
    margin-top: 3px;
    margin-left: 15px;
    content: "";
    width: 20px;
    height: 11px;
    background: transparent url(file:///Users/dmitrijvengerov/repos/project_army/assets/img/down-black-arrow.png);
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.without-right-menu {
    margin-right: 333px !important;
}

.main-content_grid .tasks {
    margin-left: 0px;
    text-align: left;
}

.main-content_grid .tasks>input,
textarea {
    width: 500px;
    padding: 8px 24px;
}

.main-content_grid .tasks>input {
    border-bottom: 1px solid #E7E9EE;
    margin-bottom: 30px;
}

.main-content_grid .tasks>textarea {
    max-width: 500px;
    min-height: 50px;
    margin-bottom: 30px;
    border: 1px solid #E7E9EE;
}

.left-align {
    margin-left: 65%;
}

.tasks .dropdown {
    width: 236px;
    height: auto;
    padding: 8px 5px;
}

.dropdawns-menus {
    padding: 0px !important;
    display: inline;
    border: none !important;
}

.dropdawns-menus div {
    display: inline-block !important;
    margin-bottom: 30px;
}

.dropdawns-menus div:first-child {
    margin-right: 25px;
}

.dropdawns-menus div:last-child {
    width: 237px;
}


.icon-wall {
    margin-left: 10px;
    margin-right: 20px;
    border: none !important;
    width: 23px !important;
    height: 23px !important;
    padding: 0px !important;
    background-repeat: no-repeat;
    background: transparent url(file:///Users/dmitrijvengerov/repos/project_army/assets/img/wall-icon.png);
}

.icon-audio {
    margin-left: 10px;
    margin-right: 20px;
    border: none !important;
    padding: 0px !important;
    width: 23px !important;
    height: 20px !important;
    background: transparent url(file:///Users/dmitrijvengerov/repos/project_army/assets/img/headphone-symbol.png);
}

.icon-menu {
    margin-left: 10px;
    margin-right: 20px;
    border: none !important;
    padding: 0px !important;
    width: 23px !important;
    height: 18px !important;
    background: transparent url(file:///Users/dmitrijvengerov/repos/project_army/assets/img/menu-left.png);
}

.icon-speaker {
    margin-left: 10px;
    margin-right: 20px;
    border: none !important;
    padding: 0px !important;
    width: 23px !important;
    height: 18px !important;
    background: transparent url(file:///Users/dmitrijvengerov/repos/project_army/assets/img/audio-speaker.png);
}

.icon-play {
    margin-left: 10px;
    margin-right: 20px;
    border: none !important;
    padding: 0px !important;
    width: 23px !important;
    height: 17px !important;
    background: transparent url(file:///Users/dmitrijvengerov/repos/project_army/assets/img/start-button.png);
}

figure span {
    margin-left: 0;
    font-size: 12px;
}

.input-in {
    margin-bottom: 30px;
    margin-top: 30px;
}

.dropdown button {
    width: 100%;
    text-align: left;
}

.info-lines {
    padding: 0 !important;
    border: none !important;
}

.info-lines p {
    padding-top: 5px;
    margin: 0px !important;
}

.info-lines span {
    font-size: 12px;
    margin-left: 0;
}

.file-upload input[type="file"] {
    display: none;
}




.file-upload {
    position: relative;
    overflow: hidden;
    width: 130px !important;
    height: 31px;
    padding: 0px;
    background: transparent;
    border: 1px solid #529EFC !important;
    border-radius: 50px;
    color: #529EFC;
    text-align: center;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.lessons-title {
    margin-bottom: 45px;
}

.file-upload label {
    display: block;
    width: 100%;
    position: absolute;
    top: -4px;
    left: 0;
    cursor: pointer;
}

.upload-file-title {
    margin-left: 0px !important;
}

.url {
    color: #747474;
}

.file-upload span {
    line-height: 40px;
}

.lessons-upload {
    margin-left: 20px;
    color: #fff;
    background: linear-gradient(45deg, #529EFC, #4773E1);
}

.lessons-upload_hint {
    margin-left: 30px;
    color: #747474;
}

.lessons-p {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 12px;
}

.lessons-p::first-child {
    margin-top: 15px;
}

.lessons-title_about {
    margin-bottom: 20px;
}

.lessons-title_about span {
    font-size: 12px;
    margin-right: 30px;
}

.with-clock {
    margin-left: 30px;
}

.less-title {
    margin-bottom: 90px;
}

.with-clock:before {
    position: absolute;
    content: "";
    margin-left: -30px;
    width: 17px;
    height: 17px;
    background: transparent url(file:///Users/dmitrijvengerov/repos/project_army/assets/img/clock.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

@media (min-width: 768px) {}

@media (max-width: 768px) {
    .navbar-nav {
        display: none;
    }

    .navbar-nav {
        display: none;
    }
    .left-nav {
        display: none;
    }
    .navbar-form {
        display: none;
    }
    .right-panel {
        display: none !important;
    }
    .main-content_title:last-child {
        display: none !important;
    }

    .main-content_title {
        margin-top: 25px;
        margin-bottom: 0px;
    }
    .navbar-brand {
        display: none;
    }
    .main-content_grid .lesson-card {
        width: 334px;
        height: 415px;
        margin: 10px;
        box-shadow: none;
        background-color: transparent;
    }
    .plus-button {
        display: none;
    }
    .lesson-card div {
        border-radius: 8px;
        height: 334px;
        margin-bottom: 10px;
    }
    .lesson-card p {
        font-size: 14px;
    }
    .main-content_title-right {
        display: none;
    }
    .main-content_title h2 {
        margin-left: 10px;
    }
    .content-name {
        display: none;
    }
    .row>div {
        margin: 0px;
    }
    .lessons-title_about {
        margin-left: 10px;
        margin-bottom: 10px;
    }
    .lessons-title_about span {
        margin-right: 15px;
    }
    .profile-card,
    .profile_links {
        display: none;
    }
    .wrapper {
        display: none;
    }
    .content-body-table {
        width: 100%;
        box-shadow: none;
    }
    .bread-point {
        margin-left: 10px;
    }

    .main-content {
        width: 100%;
    }

    .tasks div {
        width: 100%;
    }
    video {

        width: 95%;
        margin-left: 10px;
    }
    .navbar-inverse .navbar-toggle {
        border: none;
    }

    body {
        background-color: #fff;
    }
    .main-content_grid .tasks>input,
    textarea {
        width: auto;
    }
    .bell {
        width: 23px;
        height: 27px;
    }
    .filler-checked {
        padding-left: 12px;
    }
    .lessons-p {
        margin-left: 10PX;
    }
    .tasks h5,
    p {
        margin-left: 10px;
    }
    .tasks p {
        margin-left: 0px !important;
    }
    .navbar-collapse {
        border-top: none;
        box-shadow: none;
    }
    .navbar-toggle button {
        background: transparent;
    }
    .navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover { background: transparent; }
    .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
        height: 100vh;
    border-color: #101010;
    color: #fff;
    }

    .navbar-collapse-content .avatar {
        width: 61px;
        height: 61px;
    }
     .navbar-collapse .collapse .in.navbar-fixed-top {
        height: 100%;
    }
}